body {
    background-image: url(img/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.primario {
    flex:auto;
    text-align: center;
    font-size: 2em;
    margin: auto;
    color: white;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    padding: 16px 1px; 
}

.title, .subtitle {
    align-items: center;
    display: flex;
    justify-content: center;
}





